<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.share">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".LoginActivity"
            android:label="Share"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactsListActivity"
            android:label="Contacts"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity
            android:name=".ContactPageActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MobileMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".MyProfileActivity"
            android:label="Profile"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity
            android:name=".MyFilesActivity"
            android:label="Files"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity
            android:name=".DBFileActivity"
            android:label="@string/title_activity_dbfile"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-kqno6de35awdvp9" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".TheirDropboxFileActivity"
            android:label="@string/title_activity_their_dropbox_file"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".PollMetadataService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
